<div id="edit_note_block">
  <div id="single_note">
    <a href="/notes/<%= @note.id %>">
      <h3><%= @note.body %></h3>
      <p>holes: <%= @note.holes %></p>
      <p>integrity: <%= @note.integrity %></p>
    </a>
  </div>

  <a href='/notes/<%= @note.id %>/edit'>
    <div id="single_note_edit">
      <h1>click to edit</h1>
    </div>
  </a>
</div>
